Streamlit==1.29.0
numpy==1.26.1
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
pandas==2.1.1
ultralytics==8.1.47
ultralytics-copy==0.0.1.dev0
ultralytics-yolo==0.0.1
tempfile
os
io 
BytesIO
