absl-py
aiofiles
aiogram
aiohttp
aiosignal
altair
annotated-types
asgiref
asttokens
astunparse
attrs
blinker
build
cachetools
certifi
charset-normalizer
click
cmake
colorama
coloredlogs
comm
comtypes
contourpy
cycler
debugpy
decorator
dilib
Django
django-crispy-forms
django-crispy-forms-registration
django-registration
dm-tree
docutils
executing
executor
face-recognition-ai
facenet-pytorch
fasteners
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-pasta
grpcio
h5py
humanfriendly
idna
importlib-metadata
imutils
ipykernel
ipython
jaraco.classes
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
keyring
kiwisolver
libclang
magic-filter
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
more-itertools
mpmath
multidict
namex
nest-asyncio
networkx
nh3
nltk
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
parso
Pillow
pkginfo
platformdirs
prompt-toolkit
property-manager
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyheatmap
PyMySQL
pyparsing
pypiwin32
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
pyttsx3
pytz
pywin32-ctypes
PyYAML
pyzmq
readme-renderer
referencing
regex
requests
requests-toolbelt
rfc3986
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
smmap
sqlparse
stack-data
streamlit
streamlit-autorefresh
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
thop
threadpoolctl
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
twine
typing_extensions
tzdata
tzlocal
ultralytics
ultralytics-copy
ultralytics-yolo
urllib3
validators
verboselogs
watchdog
wcwidth
webdriver-manager
Werkzeug
wheel
wrapt
yarl
yolo5face
zipp
